.Login-button {
  color: white;
  display: block;
  font-size: 16px;
  height: 60px;
  margin: 10px auto;
  width: 300px;
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color:#ffffff3b;;
}

.Login-fb {
  background-color:#ffffff3b;;
}

.Login-mm {
  background-color: #f16307;
}

#Tcenter {
  text-align: center;
  background: #121212;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2px;
  color: #800000;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  background: #ffffff;
  box-shadow: 0px 4px 12px black !important;
  min-height: 35px;
}
#rcDialogTitle0 {
  letter-spacing: 2px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}